<configuration>
    <property name="LOG_PATH" value="logs" />

    <appender name="auth_exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/auth_exception.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/auth_exception%i.bak.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="global_exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/global_exception.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/global_exception%i.bak.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="pool_exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/pool_exception.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/pool_exception%i.bak.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="payment_exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/payment_exception.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/payment_exception%i.bak.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="auth_exception" level="info" additivity="true">
        <appender-ref ref="auth_exception"/>
    </logger>

    <logger name="global_exception" level="info" additivity="true">
        <appender-ref ref="global_exception"/>
    </logger>

    <logger name="pool_exception" level="info" additivity="true">
        <appender-ref ref="pool_exception"/>
    </logger>

    <logger name="payment_exception" level="info" additivity="true">
        <appender-ref ref="payment_exception"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>